<?xml version="1.0" ?>
<model>
    <name>stone</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Franka Emika</name>
        <email>support@franka.de</email>
    </author>
    <description>A simple stone.</description>
</model>

<?xml version="1.0" ?>
<model>
    <name>box2</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Aakarsh Yadav</name>
        <email>yadava@rptu.de</email>
    </author>
    <description>A simple box.</description>
</model>

